@import './../theme/components.scss';

.section-add {
    @extend %panel;
    max-width: 600px;
    width: 100%;

    display: flex;
    align-items: center;
}

.section-add label {
    text-transform: uppercase;
    font-weight: bold;
}

.section-add input {
    flex: 1;
    margin: 0px 12px;
    padding: 12px;
}

.section-add button {
    padding: 12px;
    color: #ffffff;
    background: linear-gradient(to right, #c62828, #e53935);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    border-bottom: 4px solid #b71c1c;
    font-weight: bold;
    text-transform: uppercase;
}