body {
    background-color: #8f57fd;
    font-family: Arial, Helvetica, sans-serif;
}

.post {
    border-radius: 4px;
    background-color: white;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 300px;
    height: 280px;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
}

.post .post-header {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post .header {
    height: 32px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.post .name {
    font-size: 14px;
}

.post .date::before {
    content: ' • ';
}

.post .date {
    font-size: 11px;
    color: #999;
}

.post .avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.post .image {
    width: 300px;
    height: 180px;
    object-fit: cover;
    margin-left: -8px;
    margin-right: -8px;
}

.post .post-footer {
    display: flex;
}

.post .post-action {
    flex: 1;
    font-weight: bold;
    height: 42px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.post .post-action:hover {
    color: #505050;
}